@model InventoryMngSys.Models.Product;

@if (TempData["Invalid"] != null)
{
    <div class="min-h-[90vh]">
        <h1 class="text-2xl">@TempData["Invalid"]</h1>
    </div>
}
else
{
    <div class=" flex  pt-5 px-10 gap-10 w-full h-[90vh]">
        <div class="w-[50%] h-[90%]">
            <img class="w-full h-full object-cover rounded-xl" src="@Model.Image" alt="Alternate Text" />
        </div>
        <div class="w-[50%] h-[90%] flex flex-col gap-5 items-center pt-[10%]">
            <div>
                <h1 class="text-5xl font-bold">@Model.Name</h1>
            </div>
            <div>
                <p class="text-2xl text-center font-bold">@Model.Description,Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div>
                
                <h2 class="text-2xl font-bold">
                    Price : <span class="text-2xl text-gray-600 line-through">
                        6999
                    </span> @Model.Price
                </h2>
                
            </div>
            <div>
                <button class="bg-black text-white font-bold text-2xl rounded-lg px-4 py-2">
                    Add To cart
                </button>
            </div>
        </div>
    </div>
}
